* {
    padding: 0;
    margin: 0;
    font-family: 'Baloo Bhai 2', cursive;
}

.navbar {
    height: 60vh;
    width: 142vh;
    padding: 3vh 30vh;
    background-color: #1f2937;
    /* color: aliceblue; */
    /* border: 2px solid rgb(255, 255, 255); */
}

.one {
    height: 17vh;
    width: 18vh;
    /* border: 2px solid rgb(255, 255, 255); */
    font-size: 24px;
    color: #f9faf8;
}

h3 {
    height: 12vh;
    width: 42vh;
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    /* border: 2px solid rgb(255, 255, 255); */
    line-height: 6vh;
}

#three {
    height: 11vh;
    width: 40vh;
    font-size: 18px;
    color: #e5e7eb;
    text-align: justify;
    line-height: 3.5vh;
    /* border: 2px solid rgb(255, 255, 255); */
}

li {
    height: 3vh;
    width: 27vh;
    float: right;
    color: #e5e7eb;
    position: relative;
    bottom: 43vh;
    left: 13vh;
    font-size: 18px;
    list-style: none;
    /* border: 2px solid rgb(255, 255, 255); */
}

#five {
    background-color: rgb(87, 88, 102);
    text-align: center;
    padding-top: 12vh;
    height: 14vh;
    width: 60vh;
    float: right;
    position: relative;
    left: 65vh;
    bottom: 27vh;
    font-size: 18px;
    color: #e5e7eb;
    /* border: 2px solid rgb(255, 255, 255); */
}

a {
    color: #e5e7eb;
    text-decoration: none;
}

#four {
    background-color: #3882f6;
    /* Green */
    border: none;
    color: #f9faf8;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    padding: 3.5px 42px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
}

.container {
    display: flex;
    /* border: 2px solid rgb(35, 96, 209); */
    height: 630px;
    width: 100%;
    /* padding: 0px 50px; */
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: end; */
}

.random {
    /* margin-left: 200px; */
    height: 15vh;
    width: 60vh;
    /* border: 2px solid rgb(35, 96, 209); */
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    align-self: center;
}

.two {
    border: 3px solid #3882f6;
    border-radius: 12px;
    height: 21vh;
    width: 22vh;
    align-self: center;

    /* flex-direction: row; */
}

.three {
    margin-top: 5px;
    /* border: 2px solid #3882f6; */
    height: 16vh;
    width: 21vh;
    align-self: center;
    font-size: 18px;
}

.pc,
.cp {
    margin-left: 5vh;
    width: 190vh;
    /* border: 2px solid #3882f6; */
    display: flex;
    justify-content: space-evenly;
}

.z {
    border: 2px solid #e5e7eb;
    height: 430px;
    width: 100%;
    background-color: #e5e7eb;
}

.info {
    margin-top: 15vh;
    margin-left: 50vh;
    /* border: 2px solid rgb(35, 96, 209); */
    height: 160px;
    width: 815px;
    font-size: 36px;
    color: #1f2937;
    font-weight: 100;
    font-style: italic;
    text-align: justify;
    background-color: #e5e7eb;
    line-height: 6vh;
}

.thor {
    margin-left: 118vh;
    width: 25vh;
    /* border: 2px solid rgb(35, 96, 209); */
    font-size: 18px;
    font-weight: bold;
    margin-top: 2.5vh;
}

.call {
    border: 2px solid #fefeff;
    height: 60vh;
    width: 100%;
}

.some {
    margin-top: 20vh;
    margin-left: 35vh;
    border: 2px solid #3882f6;
    height: 130px;
    width: 1015px;
    background-color: #3882f6;
    border-radius: 3px;
}

.action {
    font-size: 18px;
    font-weight: bold;
    /* border: 2px solid #101011; */
    width: 30vh;
    margin-left: 15vh;
    margin-top: 5vh;
    color: #e5e7eb;
    height: 2vh;
}

.quote {
    margin-left: 15vh;
    /* font-size: 18px; */
    /* font-weight: bold; */
    /* border: 2px solid #101011; */
    width: 100vh;
    color: #e5e7eb;
}

.button {
    /* margin-left: 25vh; */
    background-color: #3882f6;
    /* Green */
    border: solid #f9faf8;
    color: #f9faf8;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    padding: 3.5px 38px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
    float: right;
    position: relative;
    right: 19vh;
    bottom: 5vh;
}

footer {
    border: 2px solid #1f2937;
    height: 80px;
    width: 100%;
    text-align: center;
    padding-top: 9vh;
    font-size: 18px;
    color: #e5e7eb;
    background-color: #1f2937;
}